@charset "UTF-8";

@font-face {
  font-family: 'roadrage';
  src: url('../font/road-rage.otf') format('opentype');
}

*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --cor0: #000000; 
  --cor1: #16191e;
  --cor2: #6f6f6f;
  --cor3: #a7a7a7;
  --cor4: #dddddd;
  --cor5: #ffffff;
  --cor6: #f5a637;
  --cor7: #F3D878;
  --cor8: #89F378;
  --cor9: #9e2828;
  --cor10: #e50914;
  --cor11: #db0510;
  --cor12: #F90000;
}

html, body {
  background-color: var(--cor1);
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: var(--cor5);
  width: 250px;
  height: 560px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #ffffff6c; /*#ffffff4b*/ /*#f5a6376c*/
  transition: width 0.3s , height 0.3s;
  transition-timing-function: ease;
}

#imagem {
  display: block;
  background: var(--cor1) url(../imagens/sal-login.svg) no-repeat;
  background-size: cover;
  background-position: left bottom;
  height: 230px;
}

#formulario {
  background-image: linear-gradient(#6f6f6f, #ffffff);
  display: block;
  padding: 10px;
}

#formulario > h1 {
  color: var(--cor5);
  text-align: center;
  padding-bottom: 10px;
}

#formulario > p {
  color: var(--cor5);
  font-size: 0.8em;
}

.box-login {
  background-color: var(--cor2);
  border: 2px solid var(--cor2);
  width: 100%;
  height: 40px;
  display: block;
  margin: 10px 0px;
  border-radius: 8px;
}

.box-login > label{
  display: none;
}

.box-login > span {

  font-size: 2em;
  width: 40px;
  padding: 5px;
}

.box-login > input {
  font-size: 1em;
  width: calc(100% - 44.43px) ;
  height: 100%;
  transform: translateY(-14px);
  border: 0px;
  border-radius: 8px;
  padding: 4px;
}

#ilogin {
  font-size: 0.9em;
  border-radius: 5px;
  padding: 2px;
}

#isenha {
  font-size: 0.9em;
  border-radius: 5px;
  padding: 2px;
}

form > input[type=submit]{
  display: block;
  font-size: 1em;
  width: 100%;
  height: 35px;
  margin-top: 20px;
  background-color: var(--cor11);
  color: var(--cor5);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

form > input[type=submit]:hover {
  background-color: var(--cor10);
}

form > a.esquecisenha {
  display: block;
  font-size: 0.9em;
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
}

form > a.esquecisenha > span {
  font-size: 0.8em;
}

#p-cadastro {
  font-size: 0.9em;
}
