@charset "UTF-8";

@font-face {
  font-family: 'roadrage';
  src: url('../font/road-rage.otf') format('opentype');
}

*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --cor0: #000000; 
  --cor1: #16191e;
  --cor2: #6f6f6f;
  --cor3: #a7a7a7;
  --cor4: #dddddd;
  --cor5: #ffffff;
  --cor6: #f5a637;
  --cor7: #F3D878;
  --cor8: #89F378;
}

html, body {
  background-color: var(--cor1);
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: var(--cor5);
  width: 250px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #f5a6376c; /*#ffffff4b*/
  transition: width 0.3s , height 0.3s;
  transition-timing-function: ease;
}

#imagem {
  display: block;
  background: var(--cor1) url(../imagens/sal-login.svg) no-repeat;
  background-size: cover;
  background-position: left bottom;
  height: 230px;
}

#formulario {
  display: block;
  padding: 10px;
}

#formulario > h1 {
  text-align: center;
  padding-bottom: 10px;
}

#formulario > p {
  font-size: 0.8em;
}