@charset "UTF-8";

*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

:root {
  --cor0: #000000; 
  --cor1: #16191e;
  --cor2: #6f6f6f;
  --cor3: #a7a7a7;
  --cor4: #dddddd;
  --cor5: #ffffff;
  --cor6: #f5a637;
  --cor7: #F3D878;
}

.header {
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: var(--cor1);
}

/*menu {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--cor0);
}

menu {
  display: block;
  z-index: -100;
}

.menu-itens {
  list-style: none;
}

menu > nav > ul > li > a {
  display: block;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  background-color: #000000af;
  color: var(--cor3);
}

menu > nav > ul > li > a:hover {
  color: var(--cor4);
}*/

.container-backgorund {
  width: 100%;
  height: 100vh;
  background-image: url(../imagens/sal1.svg);
  background-position:center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-article {
  width: 100%;
  height: 100vh;
  background-color: var(--cor5);
}

.header-article {
  margin-top: 100px;
  margin-bottom: 30px;
}

.h3-welcome {
  padding-bottom: 10px;
  margin-left: 40px;
  color: var(--cor3);
  font-size: 20px;
}

h1 {
  margin-left: 70px;
  font-size: 28px;
}

.p-welcome {
  margin: 40px 0px 85px 0px;
  text-align: justify;
}
.p-ident {
  text-indent: 25px;
}

article > section > p {
  padding: 15px 0px;
  font-size: 18px;
}

.container-background2{
  width: 100%;
  height: 100vh;
  background-image: url(../imagens/fogaça4___425x934.svg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

.the-sal {
  background-color: var(--cor0);
  color: var(--cor5);
  padding: 85px 10px 40px 10px;
}

.the-sal > p {
  text-align: justify;
}

.h2-the-sal {
  padding-bottom: 20px;
  margin-left: 150px;
  color: var(--cor7);
}

.img-the-sal {
  display: block;
  width: 100%;
  border-radius: 10px;
  }

.the-sal2 {
  background-color: var(--cor0);
  color: var(--cor5);
  padding: 0px 10px 85px 10px;
  text-align: justify;
}
