@charset "UTF-8";

@font-face {
  font-family: 'roadrage';
  src: url('../font/road-rage.otf') format('opentype');
}

*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

:root {
  --cor0: #000000; 
  --cor1: #16191e;
  --cor2: #6f6f6f;
  --cor3: #a7a7a7;
  --cor4: #dddddd;
  --cor5: #ffffff;
  --cor6: #f5a637;
  --cor7: #F3D878;
  --cor8: #89F378;
}

.header {
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: var(--cor1);
}

/*menu {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--cor0);
}

menu {
  display: block;
  z-index: -100;
}

.menu-itens {
  list-style: none;
}

menu > nav > ul > li > a {
  display: block;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  background-color: #000000af;
  color: var(--cor3);
}

menu > nav > ul > li > a:hover {
  color: var(--cor4);
}*/

.container-backgorund {
  width: 100%;
  height: 100vh;
  background-image: url(../imagens/sal1.svg);
  background-position:center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-article {
  width: 100%;
  height: 100vh;
  background-color: var(--cor5);
}

.header-article {
  background-color: var(--cor5);
  padding-top: 100px;
  padding-bottom: 30px;
}

.h3-welcome {
  padding-bottom: 10px;
  margin-left: 40px;
  color: var(--cor3);
  font-size: 20px;
}

h1 {
  font-family: 'roadrage', sans-serif;
  font-weight: lighter;
  padding-left: 15.51%;
  font-size: 32px;
}

.p-welcome {
  background-color: var(--cor5);
  padding: 40px 10px 85px 10px;
  text-align: justify;
  text-indent: 25px;
}

article > section > p {
  padding: 15px 0px;
  font-size: 18px;
}

/* fim welcome */

.container-background2{
  width: 100vw;
  height: 100vh;
  background-image: url(../imagens/fogaça.svg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* inicio O SAL */

.the-sal {
  background-color: var(--cor0);
  color: var(--cor5);
  padding: 85px 10px 40px 10px;
}

.the-sal > p {
  text-align: justify;
}

.h2-the-sal {
  font-family: 'roadrage', sans-serif;
  font-weight: lighter;
  font-size: 28px;
  text-align: center;
  padding-bottom: 30px;
  margin:auto;
  color: var(--cor7);
}

.img-the-sal {
  display: block;
  width: 100%;
  border-radius: 10px;
  }

  /* fim O SAL*/
  /* Inicio O SAL 2 */

.the-sal2 {
  background-color: var(--cor0);
  color: var(--cor5);
  padding: 0px 10px 85px 10px;
  text-align: justify;
}

.last-p-the-sal2 {
  padding-top: 55px;
}

/* fim O SAL 2 */

/* Inicio MENU */

.menu-food {
  text-align: center;
  padding: 100px 10px 85px 10px;
}

.menu-food > h3 {
  font-size: 20px;
  padding-bottom: 20px;
  color: var(--cor3)
}

.menu-food > h2 {
  font-family: 'roadrage', sans-serif;
  font-weight: lighter;
  font-size: 38px;
  padding-bottom: 100px;
}

.menu-food > ul > li {
  color: var(--cor0);
  font-size: 16px;
  padding: 15px 0px;
  text-decoration: none;
}

/*Fim MENU */

/*Inicio Cozinha Brasileira */

.brazilian-cuisine {
  background-color: var(--cor0);
  color: var(--cor5);
  padding: 100px 10px 85px 10px;
  text-align: justify;
}

.brazilian-cuisine > h2 {
  font-family: 'roadrage', sans-serif;
  font-weight: lighter;
  font-size: 24px;
  padding-left: 14.03%;
  color: var(--cor7);
}

.brazilian-cuisine > h3 {
  font-family: 'roadrage', sans-serif;
  font-weight: lighter;
  font-size: 24px;
  padding-top: 10px;
  padding-left: 25.51%;
  color: var(--cor8);
}

.p1-brazilian-cousine {
  text-indent: 25px;
  padding: 70px 0px 20px 0px;
  color: var(--cor3);
}

.p2-brazilian-cousine {
  text-indent: 25px;
  padding: 55px 0px 20px 0px;
  color: var(--cor3);
}